# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode

output.json

# Distribution / packaging
.Python
env/
venv/
*.egg
*.egg-info/
?eggs/
dist/
build/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
